/compiler/classes
/lib/polyllvm.jar
/lib/polyllvm-rt.jar
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionary
/.idea/dictionaries
/out/
*.class
*.DS_STORE
.*.sw?
*.out
.settings/
.cproject
.project