/compiler/classes
/lib/polyllvm.jar
/lib/polyllvm-rt.jar
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/tasks.xml
/.idea/shelf
/.idea/dictionary
/.idea/dictionaries
/out/
*.class
*.DS_STORE
.*.sw?
*.out
.settings/
.cproject
.project
.classpath
*.ll
*.o
*.dSYM
*~
tests/isolated/check
examples/cup/dist
examples/cup/out
examples/cup/test/*.java
examples/cup/testgrammars/out
