[submodule "lib/polyglot"]
	path = lib/polyglot
	url = https://github.com/polyglot-compiler/polyglot/
	ignore = untracked
[submodule "lib/javacpp-presets"]
	path = lib/javacpp-presets
	url = https://github.com/gharrma/javacpp-presets
	branch = master
